<p>test works!</p>
<p>test works!</p>
<ul>
    <li *ngFor="let  name of names">{{name}}</li>
</ul> 
<select >
    <option *ngFor="let color of colors">{{color}}</option>
</select>
<p [ngStyle]="check=='true'?style1:style2">hai</p>
<p [ngClass]="'blueenabled'">welcome home</p>
<p [ngClass]="check=='true'?'blueenabled':'blueendisabled'">hai</p>
<select (change)="color=$event.target.value">
    <option value="red">red</option>
    <option value="blue">blue</option>
    <option value="yellow">yellow</option>
</select>
{{color}}
